.DS_STORE
__pycache__/
input/
output/
shapes/
tmp
tmp*
COPIES OF TEST DATA DONT DELETE/

*.zip
!shapes/landpolygon_1000.zip
*.npy
*.tif
*.png
*.cpg
*.qmd
*.shp
*.shz
*.nc
*.log
*.7z
*.aux.xml
*myGraph.xml

metadata.xml